<app-navbar></app-navbar>
<div class="main-wrap">
    <div class="form-wrap">
        <img id="revImg" src="../../../assets/images/rev-logo.png" alt="Revature">
        <h2>Update User Profile</h2>
        <form class="row g-3">
            <div class="input-group mb-3">
              <div class="input-group">
                <input [class.invalid] = "email.invalid && email.touched" minlength="3" type="email" class="form-control" [formControl]= "email" placeholder="Email" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" (onchange)="changeField()" required>
              </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group">
                  <input type="password" class="form-control" [formControl]= "password" minlength="6" maxlength="10" id="validationDefaultPassword" placeholder="Password"  aria-describedby="inputGroupPrepend2" (onchange)="changeField()" required>
                </div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group">
                  <input type="address" class="form-control" [formControl]="address" id="validationDefaultAddress" placeholder="Address"  aria-describedby="inputGroupPrepend2" (change)="changeField()" required>
                </div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group">
                  <input pattern="[0-9]*" type="phone" class="form-control" [formControl]="phone" minlength="10" id="validationDefaultPhone" placeholder="Phone Number"  aria-describedby="inputGroupPrepend2" (onchange)="changeField()" required>
                </div>
              </div>
            <div class="col-12">
              <button class="btn btn-success btn-lg disabled" id="update_button" type="submit" (click)="attemptUpdate(email.value, password.value, address.value, phone.value);" [disabled]= "email.invalid || password.invalid || address.invalid || phone.invalid">Update</button>
            </div>
          </form>
          <p>{{noticeMessage}}</p>
    </div>
</div>