/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    --text-color: #222;
    --bkg-color: rgb(250, 248, 248);
    --box-shadow: 0 15px 25px rgb(43, 42, 42);
    --btn-txt-color: white;
    --btn-bg-color: rgb(11, 88, 160);

  }
  body.dark-theme {
    --text-color: #eee;
    --bkg-color: #252222;
    --box-shadow: 0 15px 25px rgb(242, 239, 239);
    --color:#f5f2f2;

    --btn-txt-color: rgb(46, 43, 43);
    --btn-bg-color: rgb(20, 211, 195);

  }

  .account-card:hover {
    box-shadow: var(--box-shadow);
    transform: translate3d(10px,0,0);
}


h4 {
    font-size: large;
    color: var(--text-color)
}

.main-wrap{
  background: var(--bkg-color);
}
.home-wrap{
  background: var(--bkg-color);
}
.account-wrap{
  background: var(--bkg-color);
  box-shadow: var(--box-shadow);

}
.account-wrap.dark-theme{
  box-shadow: var(--box-shadow);


}
body{
    background: var(--bkg-color);
}

form{
  background: var(--bkg-color);
}

div.container-fluid{
  --bkg-color: rgb(250, 248, 248);

}

h1,h2,
p {
    color: var(--text-color);
}

button {
    padding: 10px;
    border: none;
    border-radius: 2px;
    color:var(--btn-txt-color);
    background-color: var(--btn-bg-color);
}